openapi: 3.0.2
info:
  title: Bronto API
  license:
    name: Commercial
  version: 1.0.0
servers:
  - url: https://api.eu.bronto.io
  - url: https://api.us.bronto.io
security:
  - ApiKeyAuth: []
  - BearerAuth: []
tags:
  - name: api-keys
    description: >
      An Application Programming Interface (API) key is a unique identifier. 

      The API Key must be provided as X-BRONTO-API-KEY in headers for the
      request to be authenticated 

      and authorized by the API server according to the API Key's role. For
      further information about 

      roles visit [our API Key docs] 
      https://docs.bronto.io/manage/manage-api-keys
  - name: context
    description: >
      Context is a REST API resource that allows the retrieval of a specified
      number of log events (default of 100) around 

      a log event of interest, e.g. when a number of log events were returned by
      a previous query and you then decide you 

      want to see the 50 log events before one of those returned log events. Log
      events can be retrieved either before, 

      after, or both before and after the specified log event.
  - name: exports
    description: >
      The Bronto Export API allows you to efficiently download large volumes of
      log data for further analysis.

      The data to be exported can be filtered by entering the search parameters
      \"from\", \"where\" and \"time_range\" as

      per a normal query in the \"search_details\" object.


      To export data the following steps are required:

      1. Create an export using a POST request, which will return an
      \"export_id\", \"status\" and \"progress\".

      2. Use the export id to get the status of the export task by sending a GET
      request,

      which will return \"status\" and \"progress\" with a value of percentage
      completed. When the export is

      completed, the \"status\" will be \"COMPLETE\"

      3. Once the export task has completed you can download your data using
      curl (or similar)

      from the \"location\" URL returned in the GET response.
  - name: collections
    description: >
      Collections group datasets together. Each collection contains one or more
      datasets.
  - name: datasets
    description: >
      Datasets are a sequence of timestamped log events. Datasets can be
      searched to view events matching a filter

      or to perform statistical functions on matching events.
  - name: logs
    description: >
      Logs are a sequence of timestamped log events. Logs can be searched to
      view events matching a filter

      or to perform statistical functions on matching events.
  - name: search
    description: >
      The REST API for searching data uses queries based on a subset of SQL,
      with

      the syntax as per https://docs.bronto.io/query-syntax/overview
  - name: top-keys
    description: >
      Top-Keys is a REST API resource that allows you to easily retrieve the top
      keys for a specific log.
  - name: usage
    description: >
      Usage is a REST API resource that allows you to easily track your Bronto
      usage by retrieving usage data relating 

      to data ingestion and amount of data searched, and allowing you to drill
      down for a specific dataset over a defined timeframe.
  - name: users
    description: >
      Users are given specific roles, where each role determines the user's
      permissions within the application. Those roles are as follows:

      - "Admin" role has permission for all actions on all entities in the
      application.

      - "Standard" role allows Read/Write and Delete actions on entities in
      non-sensitive areas of the application.

      - "ReadOnly" role allows only read actions and only on entities in
      non-sensitive areas of the application.
  - name: config_assistant
    description: >
      The Config Assistant APIs provide endpoints for creating or modifying
      observability agent configurations.
  - name: patterns
    description: >
      Patterns return the Pattern IDs, templates, and source log ID for all logs
      matching the

      given search criteria.
paths:
  /api-keys:
    get:
      tags:
        - api-keys
      summary: Retrieve a list of API keys
      operationId: listApiKeys
      responses:
        '200':
          description: A list of API keys
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
        '403':
          description: Forbidden - The user does not have the privileges to view API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - api-keys
      summary: Create a new API key
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
            examples:
              production_api_key:
                summary: Production API Key
                description: API key for production environment with full access
                value:
                  name: Production Monitoring API Key
                  roles:
                    - IngestionApi
                    - SearchApi
                    - AdminApi
                  ttl: 31536000
              service_specific_key:
                summary: Service-Specific API Key
                description: Limited scope API key for a specific service
                value:
                  name: Search Service API Key
                  roles:
                    - SearchApi
                  ttl: 15552000
              temporary_key:
                summary: Temporary API Key
                description: Short-lived key for testing purposes
                value:
                  name: Testing API Key
                  roles:
                    - IngestionApi
                  ttl: 86400
        required: true
      responses:
        '201':
          description: API keys is created successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to create new api
            keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api-keys/{apiKeyId}:
    delete:
      tags:
        - api-keys
      summary: Delete an API key
      operationId: deleteApiKey
      parameters:
        - name: apiKeyId
          in: path
          description: The ID of the API key to delete
          required: true
          schema:
            type: string
            format: uuid
          example: 41521f35-1b06-41f0-9cdc-9a938b5739d1
      responses:
        '204':
          description: API key deleted successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '403':
          description: Forbidden - The user does not have the privileges to delete API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The API key is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - api-keys
      summary: Update an API key
      operationId: updateApiKey
      parameters:
        - name: apiKeyId
          in: path
          description: The ID of the API key to update
          required: true
          schema:
            type: string
            format: uuid
          example: 41521f35-1b06-41f0-9cdc-9a938b5739d1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiKeyRequest'
        required: true
      responses:
        '200':
          description: API key updated successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to update the API
            key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The API key is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users:
    get:
      tags:
        - users
      summary: Retrieve a list of users
      operationId: listUsers
      responses:
        '200':
          description: A list of users
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '403':
          description: Forbidden - The user does not have the privileges to list users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - users
      summary: Create a new user
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        required: true
      responses:
        '201':
          description: User created successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to create new
            users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/all:
    get:
      tags:
        - users
      summary: Retrieve a list of users
      operationId: listAllUsers
      responses:
        '200':
          description: A list of users
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/MultiOrgUser'
        '403':
          description: Forbidden - The user does not have the privileges to list users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}:
    get:
      tags:
        - users
      summary: Retrieve a user by ID
      description: >
        Retrieves detailed information for a specific user using their unique
        identifier. Returns all user attributes including profile information,
        roles, and status.
      operationId: getUserById
      parameters:
        - name: userId
          in: path
          description: The unique identifier of the user to retrieve
          required: true
          schema:
            type: string
            format: uuid
          example: 41521f35-1b06-41f0-9cdc-9a938b5739d1
      responses:
        '200':
          description: User details retrieved successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to retrieve user
            details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The User is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - users
      summary: Delete a user by ID
      description: >
        Permanently removes a user from the system. This action cannot be
        undone. All associated data and permissions for this user will be
        removed. Only administrators can delete users.
      operationId: deleteUserById
      parameters:
        - name: userId
          in: path
          description: The unique identifier of the user to delete
          required: true
          schema:
            type: string
            format: uuid
          example: 41521f35-1b06-41f0-9cdc-9a938b5739d1
      responses:
        '204':
          description: User deleted successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '403':
          description: Forbidden - The user does not have the privileges to delete users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The User is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - users
      summary: Update a user
      description: >
        Updates the specified user's information. Only the fields provided in
        the request body will be modified; other fields will remain unchanged.
        Users can typically update their own profiles, while administrators may
        update any user.
      operationId: updateUser
      parameters:
        - name: userId
          in: path
          description: The unique identifier of the user to update
          required: true
          schema:
            type: string
            format: uuid
          example: 41521f35-1b06-41f0-9cdc-9a938b5739d1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        required: true
      responses:
        '200':
          description: User updated successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - The user does not have the privileges to update users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}/deactivate:
    post:
      tags:
        - users
      summary: Deactivate a user
      operationId: deactivateUser
      parameters:
        - name: userId
          in: path
          description: Unique identifier of the user to deactivate
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User deactivated successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to deactivate
            users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The user was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}/reactivate:
    post:
      tags:
        - users
      summary: Reactivate a user
      operationId: reactivateUser
      parameters:
        - name: userId
          in: path
          description: Unique identifier of the user to reactivate
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User reactivated successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to reactivate
            users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The user was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}/resend-invite:
    post:
      tags:
        - users
      summary: Resend a user's invitation email
      operationId: resendUserInvitation
      parameters:
        - name: userId
          in: path
          description: Unique identifier of the user to resend an invitation to
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invitation resent successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendUserInvitationResponse'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to resend
            invitations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The user was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}/preferences:
    get:
      tags:
        - users
      summary: Get user preferences
      description: >
        Returns the stored user preferences for the specified organization and
        user.
      operationId: getUserPreferences
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User details retrieved successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreference'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to retrieve user
            details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The User is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - users
      summary: Patch user preferences
      description: |
        Sets or updates specific user preferences without overwriting others.
      operationId: patchUserPreferences
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              maxProperties: 1
              type: object
              properties:
                favourites:
                  type: object
                  properties:
                    monitors:
                      type: array
                      items:
                        type: string
                        format: uuid
                    dashboards:
                      type: array
                      items:
                        type: string
                        format: uuid
                    saved_searches:
                      type: array
                      items:
                        type: string
                        format: uuid
                  additionalProperties: false
                defaults:
                  type: object
                  properties:
                    monitor:
                      type: string
                      format: uuid
                      nullable: true
                    dashboard:
                      type: string
                      format: uuid
                      nullable: true
                  additionalProperties: false
                features:
                  type: object
                  additionalProperties:
                    type: boolean
                preferred_org:
                  type: string
                  format: uuid
                timezone:
                  type: string
                filter_null_groups:
                  type: string
              additionalProperties: false
        required: true
      responses:
        '200':
          description: Updated preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreference'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: User preferences not found
  /users/{userId}/access:
    get:
      tags:
        - users
      summary: List all organizations this user has access to
      operationId: listMemberships
      parameters:
        - name: userId
          in: path
          description: >-
            The unique identifier of the user to retrieve organization access
            for
          required: true
          schema:
            type: string
            format: uuid
          example: 41521f35-1b06-41f0-9cdc-9a938b5739d1
      responses:
        '200':
          description: List of organizations this user has access to
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
        '403':
          description: Forbidden - The user does not have the privileges to view access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The User is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /groups:
    get:
      tags:
        - groups
      summary: List all user groups in the organization
      operationId: listGroups
      responses:
        '200':
          description: List of groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupList'
        '403':
          description: Forbidden - The user does not have permission to list groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - groups
      summary: Create a new group
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroup'
        required: true
      responses:
        '201':
          description: Group created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - The user does not have permission to create groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /groups/{groupId}:
    get:
      tags:
        - groups
      summary: Get a specific group
      operationId: getGroup
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group to retrieve
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      responses:
        '200':
          description: Group object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'
        '403':
          description: Forbidden - The user does not have permission to retrieve this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - Group does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - groups
      summary: Delete a group
      operationId: deleteGroup
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group to delete
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      responses:
        '204':
          description: Group deleted successfully
        '403':
          description: Forbidden - The user does not have permission to delete this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - Group does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - groups
      summary: Update a group
      operationId: updateGroup
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group to update
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroup'
        required: true
      responses:
        '200':
          description: Updated group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - The user does not have permission to update this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - Group does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /groups/{groupId}/members:
    get:
      tags:
        - groups
      summary: List members of a group
      operationId: listGroupMembers
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      responses:
        '200':
          description: List of group members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      required:
                        - group_id
                        - member_id
                        - member_type
                        - modified_at
                      type: object
                      properties:
                        group_id:
                          type: string
                          format: uuid
                        member_id:
                          type: string
                          format: uuid
                        member_type:
                          type: string
                          enum:
                            - USER
                            - GROUP
                        modified_at:
                          type: integer
                          format: int64
        '403':
          description: Forbidden - User lacks permission to view group members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - groups
      summary: Add members to a group
      operationId: addGroupMembers
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      requestBody:
        content:
          application/json:
            schema:
              required:
                - members
              type: object
              properties:
                members:
                  maxItems: 100
                  minItems: 1
                  type: array
                  items:
                    required:
                      - member_id
                      - member_type
                    type: object
                    properties:
                      member_type:
                        type: string
                        enum:
                          - USER
                          - GROUP
                      member_id:
                        type: string
                        format: uuid
        required: true
      responses:
        '204':
          description: Members added to group
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - User lacks permission to modify group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - groups
      summary: Remove members from a group
      operationId: removeGroupMembers
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      requestBody:
        content:
          application/json:
            schema:
              required:
                - members
              type: object
              properties:
                members:
                  type: array
                  items:
                    required:
                      - member_id
                      - member_type
                    type: object
                    properties:
                      member_type:
                        type: string
                        enum:
                          - USER
                          - GROUP
                      member_id:
                        type: string
                        format: uuid
        required: true
      responses:
        '204':
          description: Members removed from group
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - User lacks permission to modify group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}/groups:
    get:
      tags:
        - groups
      summary: List groups a member belongs to
      operationId: listGroupsForMember
      parameters:
        - name: userId
          in: path
          description: Unique identifier of the member
          required: true
          schema:
            type: string
            format: uuid
          example: 5f7a5c9c-9a2f-42a5-84f3-e445e14b13df
      responses:
        '200':
          description: List of groups the user is a member of
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserGroup'
        '403':
          description: Forbidden - User lacks permission to view group memberships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /search:
    get:
      tags:
        - search
      summary: Execute a query
      description: >
        You can execute queries on your log data by using Bronto's syntax based
        on a subset of SQL as

        described in the documentation
        https://docs.bronto.io/query-syntax/overview.


        Bronto supports both the GET and POST methods for executing a query,
        however the POST method is

        preferred as it avoids problems related to maximum URL length when the
        query parameters are very long.


        In the context of the REST API, there are three distinct types queries
        which determine which parts of the 

        response object are populated:

        + Event search queries return a list of events matching the specified
        filter.

        The response will be paginated if more than `limit` (default 50)
        matching events are returned.

        + Aggregate queries apply aggregate functions such as count(), sum(),
        max(), avg()

        to your log data, and return a number or a timeseries of numbers.

        + Group by aggregate queries return numerical results grouped according
        to the values for the

        attributes specified in the group by clause.


        The query type is determined by the combination of the `select` and
        `groups` parameters.
      operationId: search
      parameters:
        - name: from
          in: query
          description: >
            The ids of the logs to search.

            One of either the `from` or the `from_expr` parameters _must_ be
            specified.
          schema:
            minItems: 1
            uniqueItems: true
            type: string
          example:
            - 550e8400-e29b-41d4-a716-446655440000
            - 297bb888-83b1-44e0-8ab6-47879f1275a2
        - name: from_expr
          in: query
          description: >
            Expression used to select a set of logs. The expression defines the
            criteria for which logs are  included and is applied across all
            available logs to produce the input set. Supports logical operators
            (AND, OR), comparison operators (=, !=), and quoted string literals.
          schema:
            type: string
          example: >-
            log_id = '797655e0-bddd-4abe-97a4-e9e419a72baa' OR environment !=
            'production'
        - name: time_range
          in: query
          description: >
            The relative time range for which to query data. Time range
            supported is from milliseconds to years. For an exact range, use
            `from_ts` and `to_ts` instead.
          schema:
            type: string
          examples:
            ms:
              value: Last 800 milliseconds
            sec:
              value: Last 10 seconds
            day:
              value: Last 2 days
            week:
              value: Last 3 weeks
        - name: from_ts
          in: query
          description: >-
            The starting time (unix time in milliseconds) for which to query
            data. Must be used together with `to_ts`. This parameter is
            incompatible with `time_range`.
          schema:
            type: integer
          example: 1709251200000
        - name: to_ts
          in: query
          description: >-
            The ending time (unix time in milliseconds) for which to query data.
            Must be used together with `from_ts`. This parameter is incompatible
            with `time_range`.
          schema:
            type: integer
          example: 1711390455601
        - name: where
          in: query
          description: >-
            The where parameter is used to filter the results of your query. 
            See https://docs.bronto.io/core-features/log-search/query-syntax for
            more details The filter can combine multiple terms using AND, OR,
            NOT.
          schema:
            type: string
          examples:
            kv:
              value: ip=10.0.0.1
            count:
              value: count(*)
            sum:
              value: sum(payload_size)
            multiple_stat:
              value: count(*), sum(payload_size)
            internal:
              value: '@raw'
            multiple:
              value: payload_size, status, client_ip
        - name: select
          in: query
          description: >-
            The select parameter selects values of one or more specified keys
            and can be  considered to be equivalent to returning columns from a
            table.  It can select keys either by name, e.g. query params with
            select=ip_address or with  an aggregate function (count, max, min,
            avg, sum) on the values of the specified key,  e.g. query params
            with select=count(ip_address). Multiple selects can be used and they
            would separated by & in the query param,  e.g.
            &select=count(ip_address)&select=count(hostname).  The following
            internal columns are always available\: @time, @origin & @raw
          schema:
            type: string
          example: message
        - name: groups
          in: query
          description: >-
            The groups parameter specifies a key to use to arrange the results
            returned by an aggregate function,  (such as count, max, min, avg,
            sum) into groups of values. The aggregate function returns a single
            value  for each group. Multiple groups can be specified in the
            request if separated by &, e.g. query params with
            &groups=customer_id or &groups=customer_id&groups=hostname.
          schema:
            type: string
          example:
            - user
            - ip
        - name: limit
          in: query
          description: >-
            The maximum number of events that an event search should return. In
            a query with a group by, it limits the number of groups returned. It
            does not affect a query using aggregate functions.
          schema:
            maximum: 10000
            minimum: 1
            type: integer
            default: 100
          example: 50
        - name: num_of_slices
          in: query
          description: The number of buckets to break the time series results into.
          schema:
            type: integer
            default: 10
          example: 50
        - name: from_sequence
          in: query
          description: >
            Specifies the starting sequence number for the time range when used
            together with the `from_ts` parameter.

            Each log event has a sequence number which is unique within a
            millisecond,

            and can be used to query data with sub-millisecond time range
            precision.

            The sequence numbers are ordered such that earlier log events have
            lower sequence numbers.
          schema:
            type: integer
          example: 111721913
        - name: most_recent_first
          in: query
          description: Flag to indicate the order in which results should be returned.
          schema:
            type: boolean
          example: true
        - name: explain_only
          in: query
          description: >-
            If set to `true` then only the `explain` element of the response
            will be populated. The `explain` element will contain the
            `Approximate bytes in time range` attribute which provides an
            estimate for the amount of data present in the time range for the
            selected datasets. This parameter is set to `false` by default.
          required: false
          schema:
            type: boolean
          example: true
        - name: async_enabled
          in: query
          description: >
            If set to `true` the server will respond in an asynchronous way: it
            will return immediately with

            a polling link (in the `links` element of the response body), which
            the client should check periodically 

            to monitor the progress of the query and to receive partial
            results. 

            This is useful for long running queries, and allows an API client to
            handle multiple requests concurrently without blocking. 

            The behaviour of the async API is described
            [here](#tag/search/operation/getSearchStatus).


            If set to `false` the server will wait until the query has completed
            before returning a single `200` response

            with the completed results in the response body.
          required: false
          schema:
            type: boolean
            default: false
        - name: order_by
          in: query
          description: >
            Specifies the attribute by which to sort the result set, using
            SQL-style ORDER BY syntax. 

            The expected format is <key> ASC|DESC, for example: "duration_ms
            ASC". 

            If the sort direction (ASC or DESC) is omitted, ascending order is
            used by default. 

            Only one sort key may be specified.


            This parameter is only compatible with event search queries — i.e.,
            queries that return a list of events and do not use aggregate
            functions (such as `count(*)`) in the `select` parameter.


            Sorting behavior is subject to certain restrictions — see the [Sort
            by
            Column](https://docs.bronto.io/Search-and-Visualize/Log-Search#sort-by-column)
            documentation for details.


            When the sort parameter is set, pagination links are not included in
            the response. 

            The number of results returned is controlled solely by the limit
            parameter.
          required: false
          schema:
            type: string
        - name: pagination_token
          in: query
          description: >
            The token used to retrieve a specific page of results (next, prev,
            or first).


            **Usage Rules:**

            * This token is retrieved from the `href` in the `links` response
            object.

            * When this parameter is provided, all other search filters (e.g.,
            query string, date range) are **ignored**, with the exception of
            `per_page`.
          required: false
          schema:
            pattern: >-
              ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type: string
            format: uuid
        - name: per_page
          in: query
          description: >
            The number of records to return in the next page of results.


            **Usage Rules:**

            * Ued alongside `pagination_token` to modify the page size for the
            retrieved page.

            * If omitted, defaults to the page size defined in the initial query
            request.
          required: false
          schema:
            maximum: 10000
            minimum: 1
            type: integer
      responses:
        '200':
          description: Search results
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  explain:
                    $ref: '#/components/schemas/QueryExplain'
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/QueryResult'
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
                  groups_series:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupSeriesItem'
                  metadata:
                    $ref: '#/components/schemas/QueryMetadata'
                  totals:
                    type: object
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  links:
                    $ref: '#/components/schemas/SearchCompletedLinksAsyncEnabled'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - search
      summary: Execute a query
      description: >
        You can execute queries on your log data by using Bronto's syntax based
        on a subset of SQL as

        described in the documentation
        https://docs.bronto.io/query-syntax/overview 


        Bronto supports both the GET and POST methods for executing a query,
        however the POST method is

        preferred as it avoids problems related to maximum URL length when the
        query parameters are very long.


        In the context of the REST API, there are three distinct types queries
        which determine which parts of the 

        response object are populated:

        + Event search queries return a list of events matching the specified
        filter.

        The response will be paginated if more than `limit` (default 50)
        matching events are returned.

        + Aggregate queries apply aggregate functions such as count(), sum(),
        max(), avg()

        to your log data, and return a number or a timeseries of numbers.

        + Group by aggregate queries return numerical results grouped according
        to the values for the

        attributes specified in the group by clause.


        The query type is determined by the combination of the `select` and
        `groups` parameters.
      operationId: postSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSearchRequest'
            examples:
              event_search:
                summary: Basic event search
                description: Search for recent error logs
                value:
                  from:
                    - 550e8400-e29b-41d4-a716-446655440000
                  time_range: Last 1 hour
                  where: level = 'error'
                  select:
                    - message
                    - timestamp
                    - source
                  limit: 100
                  most_recent_first: true
              aggregate_search:
                summary: Aggregate query with grouping
                description: Count errors by service and region
                value:
                  from_expr: environment = 'production'
                  time_range: Last 24 hours
                  where: status >= 400
                  select:
                    - count(*)
                  groups:
                    - service
                    - region
                  num_of_slices: 24
              time_series_search:
                summary: Time series analysis
                description: Response time trends over time
                value:
                  from:
                    - 297bb888-83b1-44e0-8ab6-47879f1275a2
                  time_range: Last 6 hours
                  select:
                    - avg(response_time_ms)
                    - max(response_time_ms)
                    - count(*)
                  num_of_slices: 72
                  async_enabled: true
        required: true
      responses:
        '200':
          description: Search results
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  explain:
                    $ref: '#/components/schemas/QueryExplain'
                  result:
                    type: array
                    deprecated: true
                    items:
                      $ref: '#/components/schemas/QueryResult'
                  events:
                    type: array
                    description: >-
                      list of events matching the filter, if the query was an
                      event query
                    items:
                      $ref: '#/components/schemas/Event'
                  groups:
                    type: array
                    deprecated: true
                    items:
                      $ref: '#/components/schemas/Group'
                  groups_series:
                    type: array
                    description: the list of timeseries for group by queries
                    items:
                      $ref: '#/components/schemas/GroupSeriesItem'
                  metadata:
                    $ref: '#/components/schemas/QueryMetadata'
                  totals:
                    type: object
                    properties:
                      timeseries:
                        type: array
                        description: the timeseries for non-group by queries
                        items:
                          $ref: '#/components/schemas/TimeSlice'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  links:
                    $ref: '#/components/schemas/SearchCompletedLinksAsyncEnabled'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /context:
    get:
      tags:
        - context
      summary: Retrieve contextual information for a given sequence and log
      operationId: getContext
      parameters:
        - name: from
          in: query
          description: >
            The ids of the logs to search.

            One of either the `from` or the `from_expr` parameters _must_ be
            specified.
          schema:
            minItems: 1
            uniqueItems: true
            type: string
          example:
            - 550e8400-e29b-41d4-a716-446655440000
            - 297bb888-83b1-44e0-8ab6-47879f1275a2
        - name: from_expr
          in: query
          description: >
            Expression used to select a set of logs. The expression defines the
            criteria for which logs are 

            included and is applied across all available logs to produce the
            input set. Supports logical

            operators (AND, OR), comparison operators (=, !=), and quoted string
            literals.
          schema:
            type: string
          example: >-
            log_id = '797655e0-bddd-4abe-97a4-e9e419a72baa' OR environment !=
            'production'
        - name: timestamp
          in: query
          description: The timestamp for the event for which context is being retrieved
          required: true
          schema:
            type: integer
          example: 1709251200000
        - name: limit
          in: query
          description: >-
            The maximum number of events that an event search should return. In
            a query with a group by, it limits the number of groups returned. It
            does not affect a statistical search using aggregate functions.
          schema:
            maximum: 10000
            minimum: 1
            type: integer
            default: 100
          example: 50
        - name: from_sequence
          in: query
          description: >-
            The starting sequence for which to query data. This is more granular
            than a timestamp but also requires a `from_ts` param.
          schema:
            type: integer
          example: 111721913
        - name: direction
          in: query
          description: Enum to indicate if results before or after should be retrieved.
          required: false
          schema:
            type: string
            enum:
              - both
              - after
              - before
          example: both
        - name: explain_only
          in: query
          description: >-
            If set to `true` then only the `explain` element of the response
            will be populated. The `explain` element will contain the
            `Approximate bytes in time range` attribute which provides an
            estimate for the amount of data present in the time range for the
            selected datasets. This parameter is set to `false` by default.
          required: false
          schema:
            type: boolean
          example: true
      responses:
        '200':
          description: Search results
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  explain:
                    $ref: '#/components/schemas/QueryExplain'
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/QueryResult'
                  links:
                    $ref: '#/components/schemas/ContextLinks'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to access context
            data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /live-tail:
    get:
      tags:
        - live-tail
      summary: Poll a live tail job
      operationId: pollLiveTail
      parameters:
        - name: job_id
          in: query
          description: ID of live tail job to poll
          required: true
          schema:
            type: string
          example: 61882bed-8bad-41e3-9d26-295d4143c70e
        - name: limit
          in: query
          description: Maximum number of log entries to return
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
          example: 100
        - name: most_recent_first
          in: query
          description: >-
            Order response events chronologically, ascending (false) or
            descending (true)
          required: false
          schema:
            type: boolean
            default: true
          example: true
      responses:
        '200':
          description: A list of log entries
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/PollLiveTailResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - live-tail
      summary: Initiate a live tail job
      operationId: initLiveTail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitLiveTailRequest'
        required: true
      responses:
        '201':
          description: Job created successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitLiveTailResponse'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs:
    get:
      tags:
        - logs
      summary: Retrieve a list of logs
      operationId: listLogs
      responses:
        '200':
          description: A list of log entries
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Log'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
    post:
      tags:
        - logs
      summary: Create a new log
      operationId: createLog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLogRequest'
        required: true
      responses:
        '201':
          description: Log created successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
  /datasets:
    get:
      tags:
        - datasets
      summary: Retrieve a list of datasets
      operationId: listDatasets
      parameters:
        - name: from
          in: query
          description: >
            The ids of the datasets to filter the list by. At most one of `from`
            or `from_expr` may be

            provided. Both parameters are optional; if neither is provided, all
            datasets are returned.

            If none of the requested ids match an existing dataset, a 200
            response with an empty

            `datasets` array is returned.
          required: false
          schema:
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
          example:
            - 550e8400-e29b-41d4-a716-446655440000
            - 297bb888-83b1-44e0-8ab6-47879f1275a2
        - name: from_expr
          in: query
          description: >
            Expression used to select the set of datasets to return. The
            expression defines the criteria for which datasets are included and
            is applied across all available datasets to produce the result set.
            Supports logical operators (AND, OR), comparison operators (=, !=),
            and quoted string literals. At most one of `from` or `from_expr` may
            be provided. Both parameters are optional; if neither is provided,
            all datasets are returned. If the expression matches no datasets, a
            200 response with an empty `datasets` array is returned.
          required: false
          schema:
            type: string
          example: collection = 'my-collection' OR environment != 'production'
      responses:
        '200':
          description: A list of datasets
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - datasets
      summary: Create a new dataset
      operationId: createDataset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatasetRequest'
        required: true
      responses:
        '201':
          description: Dataset created successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /datasets/{datasetId}/parser:
    get:
      tags:
        - datasets
      summary: Get the parser assigned to a dataset
      operationId: getDatasetParser
      parameters:
        - name: datasetId
          in: path
          description: The id of the dataset
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The parser assigned to the dataset
          content:
            application/json:
              schema:
                type: object
                properties:
                  parser_id:
                    type: string
                    format: uuid
                  parser_name:
                    type: string
        '404':
          description: Not Found - The dataset was not found or no parser is assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - datasets
      summary: Assign a parser to a dataset
      operationId: assignDatasetParser
      parameters:
        - name: datasetId
          in: path
          description: The id of the dataset
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              required:
                - parser_id
              type: object
              properties:
                parser_id:
                  type: string
                  format: uuid
        required: true
      responses:
        '204':
          description: Parser assigned successfully
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The dataset or parser was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - datasets
      summary: Unassign the parser from a dataset
      operationId: unassignDatasetParser
      parameters:
        - name: datasetId
          in: path
          description: The id of the dataset
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Parser unassigned successfully
        '404':
          description: Not Found - The dataset was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/{logId}/monitors:
    get:
      tags:
        - monitors
      summary: List monitors associated with a log
      operationId: listMonitorsForLog
      parameters:
        - name: logId
          in: path
          description: The unique identifier of the log
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of monitors for the given log
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Monitor'
        '404':
          description: Log not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/{logId}/dashboards:
    get:
      tags:
        - dashboards
      summary: List dashboards associated with a log
      operationId: listDashboardsForLog
      parameters:
        - name: logId
          in: path
          description: The unique identifier of the log
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of dashboards for the given log
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dashboard'
        '404':
          description: Log not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/views:
    get:
      tags:
        - logs
        - views
      summary: Retrieve a list of log views
      operationId: listLogViews
      responses:
        '200':
          description: A list of log views
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogView'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /collections:
    get:
      tags:
        - collections
      summary: Retrieve a list of collections
      operationId: listCollections
      responses:
        '200':
          description: A list of collections
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  collections:
                    type: array
                    items:
                      $ref: '#/components/schemas/CollectionDataset'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
[...]
